# Byte-compiled / arquivos otimizados do Python
__pycache__/
*.py[cod]

# Ambientes virtuais (Virtual Environments)
.venv/
venv/
env/

# Configurações de editores e IDEs
.vscode/
.idea/
tempCodeRunnerFile.py

# Arquivos de dados e segurança
.env
*.db
*.sqlite3